.add-modal {
	width: 400px;
	border: solid;
	border-color: gray;
	margin-left: 300px;
	margin-top: -100px;
	z-index: 2;
	box-shadow: 2;
	position: relative;
	display: none;
}

.update-modal {
	width: 400px;
	border: solid;
	border-color: gray;
	margin-left: 300px;
	margin-top: -100px;
	z-index: 2;
	box-shadow: 2;
	position: relative;
	display: none;
}